.extra_sidebar_container {
    width: 340px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid var(--border);
}

.ex_sidebar_header {
    user-select: none;
    height: 50px;
    text-align: center;
    font-weight: 600;
    line-height: 49px;
    border-bottom: 1px solid var(--border);
}

.info_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--border);
}

.groupMember ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.groupMember ul li:hover {
    background: var( --lst-item-hover);
    cursor: pointer;
}

.groupMember ul li img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--border);
    box-shadow: 0 0 2px black;
}

.groupMember ul li h3 {
    font-size: 14px;
    font-weight: 400;
    padding-left: 14px;
}

.btn_make_friend {
    height: 30px;
    min-width: 50px;
    border-radius: 3px;
    border: none;
    color: #0068ff;
    background: #c8deff;
    padding: 0 5px;
    cursor: pointer;
    font-weight: 600;
}

.btn_make_friend:hover {
    background: rgba(34, 116, 240, .5);
} 

.info_extra_container {
    display: flex;
}

.admin_key {
    background-image: url("https://stc-chat.zdn.vn/images/icons/chat_icon_admin.png");
    width: 12px;
    height: 12px;
    background-size: cover;
    background-repeat: no-repeat
}

.not_admin_key {
    width: 12px;
    height: 12px;
}

.extra_sidebar_footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    margin: auto;
}

.extra_sidebar_footer .btn_delete_group {
    cursor: pointer;
    color: #db342e;
    background: #fbebe9;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    min-height: 32px;
    margin: 10px 40px;
}

.extra_sidebar_footer .not_admin {
    display: none;
}

.popup-inner .delete_popup_header {
    border-bottom: 1px solid var(--border);
    text-align: left;
    padding-left: 10px;
    font-size: 13px;
}
.delete_popup_body {
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
    height: auto;
}

.delete_popup_footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
}

.delete_popup_footer .negative_btn {
    background: #e5e7eb;
    border: none;
    outline: none;
    padding: 10px 16px;
    font-weight: 600;
    margin: 0 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
}

.delete_popup_footer .positive_btn {
    border: none;
    padding: 10px 16px;
    font-size: 13px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    background-color: #0068ff;
    color: #fff;
    border-radius: 3px;
}