.chatfeed_container {
    flex-basis: calc(100% - (65px + 340px + 340px));
}

.chatfeed_header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-weight: 600;
    user-select: none;
    border-bottom: 1px solid var(--border);
}